service surfaceflinger /system/bin/surfaceflinger
    class core
    user system
    group graphics drmrpc readproc
    # allow the minimum realtime scheduler priority: RLIMIT_RTPRIO(14)=1
    rlimit 14 1 1
    onrestart restart zygote
    writepid /dev/stune/foreground/tasks
